* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  margin: 0;
  padding: 0;
}

body {
	font-family: "Merriweather", sans-serif;
}

a.active {
	background-color: gray;
}

a:hover {
	background-color: orange;
}

header {
	/*border-bottom: solid 5px orange;*/
	padding: 0px 30px;
	overflow: hidden;
/*	height: 600px;
*/}

#logo {
	/*font-size: 30px;*/
	margin: 40px 30px 0px 0px;
	float: left;	
	margin-left: 100px;
}


/*h1 a:link,
h1 a:visited {
text-decoration: none;
color: black;
}*/

nav {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

nav li a:link,
nav li a:visited {
	float: right;
	text-decoration: none;
	color: #2A5DB0;
	}

nav li {
	float: left;
	list-style: none;
	margin: 50px 10px;
	font-size: 20px;
	border-right: solid 1px gray;
/*	padding: 30px 30px;
*/	font-size: 20px;
	padding-right: 6px;
	text-decoration: none;
}

/* main */
#headerB {
	overflow: hidden;
	clear: both;
	font-size: 20px;
	text-align: center;
	padding: 120px;
	/*float: right;*/
}

#headerB h2 {
	padding-bottom: 20px;
	font-size: 23px;
}


#headerB a:link,
#headerB a:visited {
	text-decoration: none;
	color: #2A5DB0;

	}


/* SECTION 2  */

#section2 {
	border-top: solid 5px orange;
	background-color: #121212;
	color: white;
	float: right;
	padding-bottom: 100px;
}

#section2 h2 {
padding-top: 35px;
padding-right: 110px;
float: right;
font-size: 32px;
color: orange;

/*margin-right: 50px;*/
/*margin-top: 50px;*/
}

#section2 h3 {
	clear: both;	
	float: right;
	font-size: 20px;
	margin-top: 50px;
	color: orange;
	width: 40%;
	margin-right: 120px;

}

#section2 p {
	float: right;
	clear: both;
	width: 40%;
	margin-top: 10px;
	margin-right: 120px;
}

#section2 h4 {
	float: right;
	clear: both;
	width: 50%;
	color: orange;
	margin-top: 10px;
	/*margin-right: 50px;*/
}

#section2 span {
	font-size: 50px;
	color: orange;
}

.expl {
	font-size: 15px;
	font-style: italic;
	padding-right: 100px;

	/*font-weight: 100px;*/
}

#source {
	padding-top: 20px;
	border-top: 1px solid white;
}

#culture-pic {
	margin: 70px;
	width: 35%;
	
	}


/* NEXT Section - pt 3 */

#section3 {
	clear: both;
	height: 800px;
/*	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left;*/
	rgba: (150, 150, 150, .25);
	text-align: center;
}

/*#section3 img {
	width: 50%;
	float: left;
}*/
/*
#sbox {
	background-image: url("../images/bluebox.png");
	background-repeat: no-repeat;
	background-size: contain;
}*/

#section3 {
	margin-bottom: 100px;
}

#shape {
	background-image: url("../images/flag.png");
	background-repeat: no-repeat;
	background-size: 100%;
	/*padding: 0px 20px;*/
	color: white;
	float: left;
	font-size: 20px;
	width: 500px;
	padding-bottom: 250px;
/*	padding-top: 70px;
*/	padding-right: 160px;	
	padding-top: 10px;
	padding-left: 10px;
}



#section3 h5 {
/*	padding: 50px;
*/	font-size: 30px;
	text-transform: uppercase;
	/*padding: 0px 35px;
	margin-right: 25px;*/

	
}

#generator {
	/*margin-top: 100px;*/
	font-size: 35px;
	list-style: none;

}

#genr-box {
	opacity: .2;
	/*background-color: #33A1DE;*/
	border: 10px solid orange;
	width: 33.33%;
	text-align: center;
	margin-left: 450px;
	background-color: #d3d3d3;
}

/*#section3 input {
	font-size: 30px;
	border: solid 5px orange;
	margin: 10px;
}*/

#section3 button {
	font-size: 25px;
	/*background-color: black;*/
/*	color: white;
*/	color: #2A5DB0;
}

#section3 button span {
	/*color: orange;*/
/*	font-size: 35px;*/
}

/* option/value */

label {
	margin: 20px;
}

#org-size {
	font-size: 20px;
}

#budget {
	font-size: 20px;
}

#frequency {
	font-size: 20px;
}


/* submit & reset buttons */

.submit {
	margin-bottom: 45px;
	margin: 10px;
	/*border: 1px solid orange;*/
}

.reset {
	margin: 10px;
	/*border: 1px solid orange;*/

}

.gen-btns {
	padding: 25px 0px 50px 0px;

}

#section3 #results {
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 35px;
/*	padding-bottom: 200px;
*/	/*border: solid 1px orange;*/
	text-align: center;
	margin: 0px 150px;
}





/*footer*/

footer a:hover {
	background-color: #2A5DB0;
}

footer {
	padding: 100px;
/*	height: 300px;*/
	background-color: #121212;
	color: white;
}


#social-media {
float: right;
border: solid 1px orange;
margin-right: 100px;
}

footer p {
	float: right;
	margin-right: 100px;
}

footer p a:link,
footer p a:visited {
	text-decoration: none;
	color: orange;
/*margin-right: 50px;*/
/*	hover: none;
*/	
	text-align: center;
	margin-right: 120px;
}
footer li a:link,
footer li a:visited {
	text-decoration: none;
	color: white;
	margin-top: 100px;
}

footer li {
	list-style: none;
	padding: 2px;
	font-size: 20px;
	margin-right: 50px;
}



/*DATA */


#pikto {
margin: 100px 200px;
width: 65%;
border: solid 1px orange;
}





/* CONTACT */

#contact {
	margin-top: 100px;
	text-align: center;
/*	padding-bottom: 100px;
*/

}

/*#email img {
float: left;
}
*/
#email p {
	font-size: 20px;


}

#email a:link,
#email a:visited {
	/*margin-bottom: 100px;*/
	font-size: 20px;
	text-decoration: none;
	color: #2A5DB0;
	
}

#sign-up {
	text-align: center;
	margin: 50px 0px;
	margin-bottom: 300px;
	font-size: 20px;
	width: 75%;
	margin-left: 120px;
}

input {
	color: orange;
	font-size: 17px;
}

#sign-up p {
	padding-top: 50px;
	border-top: orange 1px dashed;
	margin-bottom: 15px;
}

/*#first-name {
	width: 33.33%;
}

#last-name {
	width: 33.33%
}

#email {
	width: 33.33%;
}*/

span {
	color: orange;
	font-size: 40px;
}

.ML-submit {
	font-size: 25px;
	margin-top: 15px;
	

}


/* Blog main page */

	#blog-main-page {
	border-top: orange 1px solid;
	text-align: center;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 100px;
	margin-bottom: 100px;

}

#blog-main-page h4{
	font-size: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
}

#blog-main-page img {
	padding-bottom: 100px;
}

#blog-main-page p {
	padding-bottom: 10px;
}

	#blog-main-page a:link,
	#blog-main-page a:visited {
		

		text-decoration: none;
		color: #2A5DB0;
	/*	position: left;*/
		margin-top: 150px;
		font-size: 20px;
		text-align: center;

		
		

}



/*Blog - blog.html -- blog post*/

#culture-pic2 {
	height: 800px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}

#blog {
	text-align: center;
	margin-top: 100px;
	padding-top: 50px;
	/*border-top: 1px orange solid;*/
}

.posts {
	color: #2A5DB0;
	width: 67%;
	/*	border-top: orange 1px solid;
	padding-top: 20px;
	*/
}

.posts li {
	display: none;
}

.posts li.active {
	display: block;
	text-align: left;
	margin-bottom: 50px;
	margin-left: 230px;
	width: 100%;

}


#right-arrow {
	float: right;
}
	
#left-arrow {
	float: left;
}

/*#blog button {
	float: right;
	margin-right: 170px;

}*/


/*
#blog img {
	float: left;
}

#right-arrow {
	float: right;
}*/

/*#post1 {
	height: 800px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
}

#post2 {
	height: 800px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
}*/

